<!doctype html>
<html>
<head>
<meta charset="utf-8">

<title>无标题文档</title>
<style>
</style>
<!--<script src="angular.js"></script>-->
<script src="angular.min.js"></script>

<script>

var app1 = angular.module('myApp1',[]);

app1.controller('myCtr',['$scope',function($scope){

	$scope.regText = {

		regVal : 'default',

		regList : [

         {name:'default',tips:'请输入用户名'},
         {name:'required',tips:'用户名不能为空'},
         {name:'pattern',tips:'用户名必须是字母'},
         {name:'pass',tips:'√'}]
        

        /*change : function(err){

        	for(var attr in err){

        		if(err[attr] == true){
        			this.regVal = attr;
        			return;
        		}
        	}
        	this.regVal='pass';
        }*/
    }

    $scope.regPassword = {

		regVal : 'default',

		regList : [

         {name:'default',tips:'请输入密码'},
         {name:'required',tips:'密码不能为空'},
         {name:'minlength',tips:'密码长度不能小于6位'},
         {name:'pass',tips:'√'}]
        

        /*change : function(err){

        	console.log(err)

        	for(var attr in err){

        		if(err[attr] == true){
        			this.regVal = attr;
        			return;
        		}
        	}
        	this.regVal='pass';
        }*/
    }

    $scope.change = function(reg,err){

    	for(var attr in err){

        		if(err[attr] == true){
        			$scope[reg].regVal = attr;
        			return;
        		}
        	}
        	$scope[reg].regVal='pass';
    }
	
}]);

</script>
</head>

<body>

<div ng-app="myApp1" ng-controller="myCtr" >

 <form name="nForm">
 <div>
   <label>用户名：</label><input type="text" name="nText"  ng-model="regText.name" required ng-pattern="/^[a-zA-Z]+$/"  ng-blur="change('regText',nForm.nText.$error)"><span ng-repeat="re in regText.regList | filter : regText.regVal">{{re.tips}}</span>
 </div>
  <div>
   <label>密码：</label><input type="password" name="nPassword"  ng-model="regPassword.name" required minlength="6"  ng-blur="change('regPassword',nForm.nPassword.$error)"><span ng-repeat="re in regPassword.regList | filter : regPassword.regVal">{{re.tips}}</span>
 </div>
 </form>
</div>

</body>
</html>
