<!doctype html>
<html ng-app='myApp'>
<head>
<meta charset="utf-8">
<title>无标题文档</title>
<style>
#parent { height:305px; width:1000px; overflow:hidden;}
#parent div { width:300px; height:300px; border:1px solid #000; margin-bottom:10px; }
#parent ul { float:right;}
</style>
<script src="jquery-1.11.1.js"></script>
<script src="angular.min.js"></script>
<script>
  
var m1 = angular.module('myApp',[]);
m1.controller('Aaa',['$scope','$location','$anchorScroll',function($scope,$location,$anchorScroll){

	$scope.change = function(id)
	 {
		// console.log(id)
		$location.hash(id);
		
		//console.log($location.absUrl());
		$anchorScroll();
	 }
	
}]);

</script>
</head>

<body>
<div id="parent" ng-controller="Aaa">
<div ng-repeat="d in [1,2,3,4,5]" ng-attr-id="div{{d}}">{{d}}</div>
<ul style=" position:fixed; right:100px; top:50px;"><li ng-repeat="id in [1,2,3,4,5]"><a ng-click="change('div'+id)" href="javascript:void(0);">{{id}}</a></li></ul>
</div>

</body>
</html>
