@charset 'utf-8';

/* CSS reset */
html {
    color: #333;
    background: #F9F9F9;
    font-size: 14px;
    height: 100%;
    font-family: "PingFangSC-Regular", "PingFangSC-Medium", "Microsoft YaHei";
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
p,
blockquote,
th,
td,
strong {
    padding: 0;
    margin: 0;
    font-family: "PingFangSC-Regular", "PingFangSC-Medium", "Microsoft YaHei";
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

fieldset,
img {
    border: 0;
}

a {
    text-decoration: none;
    color: #333;
    outline: none;
}

/*此处待添加默认链接颜色*/
var,
em,
strong {
    font-style: normal;
}

img {
    max-width: 100%;
    margin: 0;
}

address,
caption,
cite,
code,
dfn,
em,
th,
var,
optgroup {
    font-style: inherit;
    font-weight: inherit;
}

del,
ins {
    text-decoration: none;
}

li {
    list-style: none;
}

caption,
th {
    text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal;
}

legend {
    color: #000;
}

input,
button,
textarea,
select,
optgroup,
option {
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
}

input,
button,
textarea,
select {
    font-size: 100%;
}

select,
input,
option {
    border: none;
    -webkit-appearance: none;
}

select {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

input,
button,
select,
textarea {
    outline: none;
}

video,
img {
    vertical-align: top;
}

textarea {
    resize: none;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #A9A9A9;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
    color: #A9A9A9;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
    color: #A9A9A9;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    color: #A9A9A9;
}

p {
    word-wrap: break-word;
    word-break: break-word;
}

.text2l {
    content: "";
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    -moz-line-clamp: 2;
    -ms-line-clamp: 2;
    line-clamp: 2;
    overflow: hidden;
}

.text3l {
    content: "";
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    -moz-line-clamp: 2;
    -ms-line-clamp: 2;
    line-clamp: 2;
    overflow: hidden;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.dn {
    display: none;
}

.db {
    display: block;
}

.tr {
    text-align: right;
}

.tl {
    text-align: left;
}

.w100 {
    width: 100%;
}

.cp {
    cursor: pointer;
}

.pr {
    position: relative;
}

.pa {
    position: absolute;
}

.pf {
    position: fixed;
}

.tc {
    text-align: center;
}

.ib {
    display: inline-block;
}

.oh {
    overflow: hidden;
}

.fff {
    color: #fff;
}

.clearfix:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {
    *zoom: 1;
}

/* 设置滚动条的样式 */
.noscroll::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

/* 滚动槽 */
.noscroll::-webkit-scrollbar-track {
    height: 0;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

/* 滚动条滑块 */
.noscroll::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

.noscroll::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(255, 0, 0, 0.4);
}

/*清除ie的默认选择框样式清除，隐藏下拉箭头*/
select::-ms-expand {
    display: none;
}

/*手机端上边框细化*/
.top-line:before {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    border-top: 1px solid #ccc;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

.top-lineEE:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    border-top: 1px solid #EEEEEE;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

.bottom-line:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid #eeeeee;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

a:hover,
a:focus,
a:visited,
a:active {
    text-decoration: none !important;
}