/* CSS Document */
* { padding:0; margin:0;}
body { font-size:12px; padding:100px;}
.one { margin:10px 0;}
.one label { width:100px; float:left; text-align:right; height:20px; line-height:20px;}
.one input { border:1px solid #ccc; height:20px;}
.two { padding-left:100px;}
.reda { color:red;}
.a2 { width:100px; margin-left:5px; padding:2px; background:#ccc;}
.error { background:#ccc url(../img/error.gif) no-repeat; padding-left:25px; padding-right:3px;}
.righta { background:#ccc url(../img/righta.gif) no-repeat; padding-left:25px; padding-right:3px;}

